.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

body {
  padding: 0;
  margin: 0;
  background-color: #352b2b;
}

/* . */
.dropbtn {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  padding: 4px;
  font-size: 16px;
  border: none;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  /* background-color: #f1f1f1; */
  min-width: 160px;
  right: -60px; 
  bottom: 50px;
  z-index: 1;
}

.dropup-content a {
  color: black;
  padding: auto;
  text-decoration: none;
  display: block;
}

/* .dropup-content a:hover {background-color: #ccc} */

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: #2980B9;
  border-radius: 50px;
}